body {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  background-color: #f6f6f6;
  font-family: "Clash Grotesk", sans-serif;
}
a {
  text-decoration: none;
  color: #091e42;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid grey;
}
.crm128-wrapper {
  font-size: 30px;
  font-weight: bold;
}
.search-parent {
  display: flex;
  background-color: #ebedf0;
  padding: 7px;
  border-radius: 6px;
  width: 20%;
}
.input-field {
  padding: 8px;
  border: none;
  outline: none;
  background-color: #ebedf0;
  width: 70%;
}
.icon {
  margin-right: 10px;
  padding-left: 5px;
}
.bell {
  display: flex;
  justify-content: center;
  position: relative;
  left: 10%;
}
.vector-icon {
  width: 25px;
  margin-right: 0;
}
.b {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 2px 4px 2px 4px;
  position: absolute;
  left: 15px;
  top: -6px;
}
.ellipse-group {
  display: flex;
}
.jg {
  margin: auto 20px;
  font-size: 30px;
  background-color: #0047b3;
  color: #ffffff;
  padding: 16px 10px 16px 10px;
  border-radius: 50%;
}
.josiah-gana-parent {
  margin-top: 10px;
}
.josiah-gana {
  font-size: 19px;
  font-weight: bold;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  width: 300px;
  height: 150vh;
  padding-bottom: 20px;
  border-right: 1px solid grey;
}
.hidden {
  display: none;
}
ul {
  list-style-type: none;
  font-size: 16px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.rotate {
  transform: rotate(180deg);
}
li {
  padding: 20px 10px 10px 50px;
}
.selected {
  background-color: #e6f0ff;
  border-right: 2px solid #003e9c;
  width: 179px;
  color: #003e9c;
}
.side-tab,
.client-data,
.drop-hr,
.logout {
  display: flex;
  margin-top: 10px;
  padding: 12px;
  position: relative;
}
.more-icon {
  margin-right: 10px;
}
.side-bar,
.logout {
  margin-top: 6px;
  font-weight: 600;
}
.client-icon {
  position: absolute;
  left: 89%;
  top: 19px;
}

.client-bar {
  background-color: #7ac769;
  padding-right: 22px;
  width: 88.8%;
}
.frame-group {
  display: flex;
  height: 20px;
  margin-top: 20px;
  margin-left: 20px;
  width: 20%;
  position: absolute;
  top: 15px;
  left: 320px;
}
.btn {
  position: absolute;
  top: 27px;
  left: 85%;
}
.section {
  position: relative;
}
.copyright-2023-crm128-parent {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background-color: #d9d9d9;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Inner page Upper */
.inner-page {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 3em;
  left: 21em;
}
.group260 {
  position: relative;
  top: -1em;
  left: -2em;
}
.leave {
  background-color: white;
  padding: 28px 30px 20px 40px;
  height: 232px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.leave1 {
  background-color: white;
  padding: 15px 30px 20px 20px;
  height: 245px;
  border-radius: 7px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.leave2 {
  display: flex;
  gap: 300px;
}
.leave3 {
  gap: 150px;
}
.leave-head {
  font-size: 14px;
  color: #091e42;
  font-weight: 600;
}
.metric {
  font-size: 35px;
  margin-bottom: 14px;
}
.line {
  position: relative;
  top: -0.5em;
  height: 50px;
  margin: 0 10px 0 10px;
  border: 0.5px solid lightgray;
}
.line1 {
  position: relative;
  top: -1.2em;
  border: 0.2px solid lightblue;
  width: 90%;
}
.number {
  color: #317d20;
  font-weight: 600;
  font-size: 57px;
}
.atten {
  display: flex;
}
.frame-parent {
  display: flex;
  gap: 10px;
}
.frame-child1 {
  position: relative;
  top: 0.3em;
  border-radius: 50px;
  background-color: #eb3cc4;
  width: 8px;
  height: 8px;
}
.frame-child2 {
  position: relative;
  top: 0.3em;
  border-radius: 50px;
  background-color: #fd5353;
  width: 8px;
  height: 8px;
}

.frame-child3 {
  position: relative;
  top: 0.3em;
  border-radius: 50px;
  background-color: #ffca41;
  width: 8px;
  height: 8px;
}

.frame-child4 {
  position: relative;
  top: 0.3em;
  border-radius: 50px;
  background-color: #317d20;
  width: 8px;
  height: 8px;
}
.sidetext {
  position: relative;
  top: 12.5em;
  font-size: 11px;
  font-weight: 600;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.nums {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 2em;
  font-size: 11px;
}
.dates {
  display: flex;
  font-size: 9px;
  position: relative;
  left: 4em;
  top: -1em;
}
span.first {
  transform: rotate(-20deg);
}
.box1 {
  position: absolute;
  top: 12.2em;
  left: 39em;
}
.box2 {
  position: absolute;
  top: 12.4em;
  left: 41.5em;
}
.box3 {
  position: absolute;
  top: 11em;
  left: 44em;
}
.rec-div1 {
  background-color: #317d20;
  width: 20px;
  height: 9px;
}
.rec-div2 {
  background-color: #ffd361;
  width: 20px;
  height: 30px;
}
.rec-div3 {
  background-color: #fd5353;
  width: 20px;
  height: 3px;
}
.rec-div4 {
  background-color: #eb3cc4;
  width: 20px;
  height: 8px;
}
.rec-div5 {
  background-color: #317d20;
  width: 20px;
  height: 24px;
}
.rec-div6 {
  background-color: #ffd361;
  width: 20px;
  height: 11px;
}
.rec-div7 {
  background-color: #fd5353;
  width: 20px;
  height: 6px;
}
.rec-div8 {
  background-color: #eb3cc4;
  width: 20px;
  height: 6px;
}
.rec-div9 {
  background-color: #317d20;
  width: 20px;
  height: 30px;
}
.rec-div10 {
  background-color: #ffd361;
  width: 20px;
  height: 18px;
}
.rec-div11 {
  background-color: #fd5353;
  width: 20px;
  height: 6px;
}
.rec-div12 {
  background-color: #eb3cc4;
  width: 20px;
  height: 15px;
}
/* upcoming-events */
.upcoming-events {
  position: absolute;
  top: 22em;
  left: 21em;
  padding: 12px;
  width: 39vw;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.upcoming {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.table2 {
  text-align: left;
  border-collapse: collapse;
  width: 36.6vw;
}
.table2 th {
  background-color: #7ac769;
  padding: 11px;
}
.table2 td {
  padding: 15px 15px 11px 15px;
  font-weight: 600;
}
/* Calender */
.calendar {
  width: 29.7vw;
  position: absolute;
  top: 22em;
  left: 57em;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.calendar img {
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header button {
  height: 20px;
  position: relative;
  top: 2em;
  border: none;
  background: none;
}
.table {
  width: 28vw;
  padding: 30px;
  border-collapse: collapse;
  background-color: #fff;
  position: relative;
  left: 0.8em;
}

.table tbody {
  position: relative;
  left: 1.7em;
}
.table thead {
  background-color: #7ac769;
  width: 1px;
}
.table th {
  padding: 10px;
  width: 10px;
}
.table td {
  padding: 20px 0 14px 0;
  position: relative;
  right: 0.5em;
}
.highlighted-day {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: -1.7em;
}

@media (min-width: 1368px) {
  .leave {
    width: 20vw;
  }
  .group260 {
    left: -8em;
  }
  .leave-head {
    font-size: 25px;
  }
  .atten {
    position: relative;
    left: 8.5em;
  }
  .boxes {
    position: relative;
    bottom: 16.5em;
    right: 28em;
  }
  .calendar {
    left: 80.2em;
  }
  .upcoming-events {
    width: 47vw;
  }
  .table2 {
    width: 47vw;
  }
  .menu {
    height: 105vh;
  }
}
